body {
   background: url("../images/rocks.jpg") no-repeat center center fixed;
   background-size: cover;
}

#img_logo {
    max-width: 50px;
    max-height: 50px;
    margin: 0 auto;
}

#Login-modal .modal-dialog {
    width: 350px;
}

#Login-modal input[type=text], input[type=password] {
    margin-top: 10px;
}

.modal-content {
    background: #ECE9E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.modal-footer {
    justify-content: center;
}